/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 2;
}

.logo-size{
    width:50%;
}

.viewer1 {
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.viewer2 {
    height: 50vh;
    overflow: hidden;
    position: relative;
}

iframe{
    margin: 0;
    padding: 0;
    border: none;
    height: 99%;
    width:  100%;
}

.configIframe {
    height: 100vh;
    width: 42vw;
    margin-left: 8px;
}

.col-md-8{
    margin-left: -15px;
    margin-right: -31px;
    height: 100vh;
    width: 60vw;
}

.col-md-4{

}